<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudland.mapper.LandMapper">
    <select id="selectAll" resultType="com.cloudland.pojo.vo.LandVO">
        SELECT
            land.*,
            land_type.type_name AS type_name,
            land_type.description AS type_description,
            user_a.username AS customerA_username,
            user_a.phone AS customerA_phone,
            user_b.username AS employee_username,
            user_b.phone AS employee_phone
        FROM
            land
                INNER JOIN
            land_type ON land.land_type = land_type.id
                INNER JOIN
            user AS user_a ON land.a_id = user_a.id
                INNER JOIN
            user AS user_b ON land.employee_id = user_b.id;
    </select>
    <select id="selectByCondition" resultType="com.cloudland.pojo.vo.LandVO">
        SELECT
        land.*,
        land_type.type_name AS type_name,
        land_type.description AS type_description,
        user_a.username AS customerA_username,
        user_a.phone AS customerA_phone,
        user_b.username AS employee_username,
        user_b.phone AS employee_phone
        FROM
        land
        INNER JOIN
        land_type ON land.land_type = land_type.id
        INNER JOIN
        user AS user_a ON land.a_id = user_a.id
        INNER JOIN
        user AS user_b ON land.employee_id = user_b.id
        <where>
            <!-- 根据条件动态添加查询条件 -->
            <if test="land.status != null">
                AND land.status = #{land.status}
            </if>
            <if test="land.address != null">
                AND land.address LIKE CONCAT('%', #{land.address}, '%')
            </if>
            <if test="land.landType != null">
                AND land.land_type = #{land.landType}
            </if>
            <if test="land.landName != null and land.landName != ''">
                AND land.land_name LIKE CONCAT('%', #{land.landName}, '%')
            </if>
            <if test="land.id != null and land.id >= 0 ">
                AND land.id = #{land.id}
            </if>
            <if test="land.aId != null and land.aId != ''">
                AND land.a_id = #{land.aId}
            </if>
            <if test="land.area != null">
                AND land.area >= #{land.area}
            </if>
        </where>
            <choose>
                <when test="land != null and land.id == -1">
                    ORDER BY price
                </when>
                <when test="land != null and land.id == -2">
                    ORDER BY area
                </when>
                <otherwise>
                    ORDER BY id
                </otherwise>
            </choose>

    </select>
    <select id="selectById" resultType="com.cloudland.pojo.vo.LandVO">
        SELECT
            land.*,
            land_type.type_name AS type_name,
            land_type.description AS type_description,
            user_a.username AS user_username,
            user_a.phone AS user_phone,
            user_b.username AS employee_username,
            user_b.phone AS employee_phone
        FROM
            land
                INNER JOIN
            land_type ON land.land_type = land_type.id
                INNER JOIN
            user AS user_a ON land.a_id = user_a.id
                INNER JOIN
            user AS user_b ON land.employee_id = user_b.id
        where land.id=#{id}
    </select>
</mapper>
